body{
    box-sizing: border-box;
    margin: 0 auto;
    background: #ff9966;
    background: -webkit-linear-gradient(to rigth, #ff5e62, #ff9966);
    background: linear-gradient(to rigth, #ff5e62, #ff9966);
}

main{
    display: flex;
    
}

#container{
    display: flex;
    max-width: 40%;
    margin-left: 20%;
    flex-direction: row;
}

#resultado{
    display: flex;
    flex-direction: row;margin-left: 10%;
    flex-wrap: wrap;
}

h1{
   text-align: center;
}

a{
    font-size: 2em;
    text-decoration: none;
    color: black;
}

#home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 12px!important;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, select{
    border-radius: 0.1em;
    padding: 6px;
    margin-bottom: 5%;
    box-sizing: border-box;
}

input:focus{
    border: #663366;
}

label{
    box-sizing: border-box;
    padding: 12px 12px 12px 12px;
    margin-right: 12px;
}

input#btnSub{
    background-color: cadetblue;
    padding: 5px 12px 5px 12px;
    border: 1px;
    width: 4vw;
}

#check{
    display: flex;
    flex-direction: row;
    text-align: center;
}


.hide{
    display: none;
}

#contenedor-modal{
  
}

#modal{
    position: absolute;
    top: 80px;
    left: 650px;
    z-index: 1;
    width: 30vw;
    height: 50vh;
    background-color: white;
    text-align: center;
    color: black;
    display: none;
}

#modalP{
    position: absolute;
    top: 80px;
    left: 650px;
    z-index: 1;
    width: 40vw;
    height: 70vh;
    background-color: white;
    text-align: center;
    color: black;
    display: none;
}

#contacto{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li{
   
}

#parrafoHome{
    max-width: 800px;
    align-self: center;
    
}

img#carrito{
    width: 32px;
    height: auto;
    
}
main{
  
    margin-left: 52px;
}

.card{
    width: 20%;
    height: auto;
    color:purple;
    
}

li img{
    border-radius: 12px;
}

.container-main{
    display: flex;
    flex-wrap: wrap;
}

.card-container{
    padding-top: 12px;
}

.description, .precio{
    display: none;
}

p#modalpp{
    max-width: 100%;
}